*{
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: 'Open Sans', sans-serif;
}
body{
    height: 100vh;
    background-image: https://wowslider.com/sliders/demo-93/data1/images/lake.jpg;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}